<p id="notice"><%= notice %></p>

<p>
  <strong>Islamiat:</strong>
  <%= @middle.Islamiat %>
</p>

<p>
  <strong>Pak studies:</strong>
  <%= @middle.Pak_studies %>
</p>

<p>
  <strong>Math:</strong>
  <%= @middle.Math %>
</p>

<p>
  <strong>Science:</strong>
  <%= @middle.Science %>
</p>

<p>
  <strong>Arabic:</strong>
  <%= @middle.Arabic %>
</p>

<p>
  <strong>Urdu:</strong>
  <%= @middle.Urdu %>
</p>

<p>
  <strong>English:</strong>
  <%= @middle.English %>
</p>

<%= link_to 'Edit', edit_middle_path(@middle) %> |
<%= link_to 'Back', middles_path %>
